<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.institudeidcard.user.institudeidmakerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/my_id_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/my_id_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstitudeDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".IDCardTemplates"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intitude_Option"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stud_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Stud_Registration"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Stud_Forget_Password"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".stud_login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Student_Option"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student_IDcard_view"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Splash_Screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>